network:
  version: 2
  renderer: networkd
  ethernets:
    {{ k8s_netplan_gateway }}:
      dhcp4: yes
      nameservers:
        addresses:
{% for dns in k8s_netplan_dns %}
          - {{ dns }}
{% endfor %}
      addresses:
{% for i in range(k8s_static.ip_start, k8s_static.ip_end + 1) %}
        - {{ k8s_static.ip_prefix ~ "." ~ i ~ "/24" }}
{% endfor %}
